$size:100%;
$main_color:#000000;
$fz:6vw;

%ta {
    text-align: center;
}

body {
    background-image: url(../img/back.jpg);
}

input {
    display: flex;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    margin: auto $size/5;
    margin-top: 4%;
    -webkit-box-shadow: 0px 0px 45px 11px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 45px 11px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 45px 11px rgba(0, 0, 0, 0.5);
    h1 {
        padding-top: $size/30;
        @extend%ta;
        font-size: $fz/1.5;
    }
    select {
        display: block;
        @extend%ta;
        width: 60%;
        margin: $size/20 auto;
        border: 1px solid #999;
        font-size: $fz/3.5;
        color: $main_color;
        background-color: #eee;
        border-radius: 10px;
        box-shadow: 4px 4px #ccc;
    }
    input {
        font-size: $fz/4;
        @extend%ta;
        margin: $size/20 auto;
    }
    button {
        display: block;
        font-size: $fz/3;
        @extend%ta;
        margin: $size/20 auto;
        background-color: #eee;
        border-radius: 10px;
        box-shadow: 4px 4px #ccc;
    }
    .result {
        font-size: $fz/3;
        margin: $size/40;
        text-align: center;
        padding-bottom: 30px;
    }
}